img.first-slide{
	background-size: cover;
}

img.second-slide{
	background-size: cover;
}

img.third-slide{
	background-size: cover;
}

.navbar-inverse {
    background-color: #102C7E;
    border-color: #2E3BC9;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #43AEE0;
}

h1 {
	font-size: 50px;
	color: #efec1a;
	font-family: "Comic Sans MS";
	text-shadow: 0px 0px 5px #99ed88, 0px 0px 10px #1b7238;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(45, 106, 185, 0.5) 100%);
    background-repeat: repeat-x;
}

.carousel-control.left {
	
	background-image: linear-gradient(to right,rgba(72, 73, 173, 0.5) 0,rgba(0,0,0,.0001) 100%);

}

body {
	background-color: #bae8fc;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: #6BB9DE;
}


.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #203983;
    white-space: nowrap;
}


.navbar-inverse .navbar-brand {
    color: #c2d738;
}

.navbar-inverse .navbar-nav > li > a {
    color: #c0c934;
}

.aa {
	border-style: groove;
	padding: 25px;
	width: 700px;
	margin-left: 200px;
}


h3 {
	text-align: center;
	
}